.popup-container {
  min-width: 22rem;
  .content {
    .popup-message {
      padding: 1rem 1.3rem;
      p {
        margin: 0 auto;
        padding: 5px 0px;
        line-height: 2;
        font-size: 15px;
        // font-weight: 500;
        // font-size: 11px;
      }
    }
    button {
      // width: 120px;
      padding: 0 15px;
    }
    }
  .popup-title {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding:0.5rem 0;
    background-color: #3597b6;
    color: #fff;
  }
}

@media screen and (max-width: 576px) {
  .popup-container {
    .content {
      padding: 0;
     .action{
       display: flex;
       justify-content: center;
     }
  }
}
}