.container-fluid {
  .content-header {
      background-color: #fff;
      i {
        font-size: 1rem;
      }
      .content-header--title {
      font-size: 1rem;
      font-weight: bold;
      }
      .button-icon {
      color: #fff;
      }
  }
}