<div>
    <div class="font-text font-text-1">XEM THÔNG TIN CÁ NHÂN/HỘ GIA ĐÌNH</div>
    <div class="font-text font-text-2">
        <i>(View individual/household infomation)</i>
    </div>

    <form class="form" *ngIf="fgUserHawa" [formGroup]="fgUserHawa">
        <div>
            <br>
            <div class="form1">
                <label for="">Mã tài khoản:
                    <br>
                    <i>(Account ID)</i>
                </label>
                <input type="text" class="form-control" formControlName="coCode">
            </div>
            <br>
            <br>
            <br>
            <div class="form1">
                <label for="">Loại chủ rừng:
                    <br>
                    <i>(Forest Owner type)</i>
                </label>
                <!-- <input type="text" class="form-control" formControlName="supplyChainTypes"> -->
                <select class="form-control" formControlName="forestOwnerType">
                    <option *ngFor="let item of forestOwnerTypeList" [value]="item.code">{{item.displayText}}</option>
                </select>
            </div>
            <br>
            <div class="form1">
                <label for="">Tên cá nhân/Hộ gia đình:
                    <br>
                    <i>(Individual/Householder name)</i>
                </label>
                <input type="text" class="form-control" formControlName="fullName">
            </div>
            <br>
            <div class="form1">
                <label for="">Số điện thoại di động:
                    <br>
                    <i>(Cell phone)</i>
                </label>
                <input type="text" class="form-control" formControlName="cellphoneNumber">
            </div>
            <br>
            <div class="form1">
                <label for="">CMND/Thẻ căn cước:
                    <br>
                    <i>(ID card No)</i>
                </label>
                <input type="text" class="form-control" formControlName="identityCard">
            </div>
            <br>
            <div class="form1">
                <label for="">Ngày cấp:
                    <br>
                    <i>(issue date)</i>
                </label>
                <!-- <input type="date" class="form-control" formControlName="identityCardIssuedDate"> -->
                <nz-date-picker formControlName="identityCardIssuedDate" [nzFormat]="'dd/MM/yyyy'"></nz-date-picker>
            </div>
            <div class="upload-image">
                <input #uploadFile class="display-none" accept=".jpg, .jpeg, .png, .gif" type="file" id="file"
                    (change)="handleFileInput($event)">
                <ng-container *ngIf="imageId">
                    <ng-container *ngFor="let item of imageId">
                        <div class="display-img">
                            <img [src]="url + item" alt="Ảnh" (click)="showModalImage(item)" />
                            <div class="icon-delete-image">
                                <i class="fa fa-times" aria-hidden="true" (click)="deleteImage(item)"></i>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
                <div class="perspective-image" [class.d-none]="imageId.length > 2" (click)=" uploadFile.click()">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </div>
                <!-- <img [src]="src" alt="Ảnh" class="display-img" (click)="uploadFile.click()" /> -->
            </div>
        </div>

        <div>
            <div class="row d-flex">
                <button nz-button class="ml-auto" nzType="primary" (click)="saveUserDetail()">Lưu</button>
            </div>
            <br>
            <br>
            <br>
            <div class="form1">
                <label for="">ĐỊA CHỈ LIÊN HỆ
                    <i>(CONTACT ADDRESS)</i>
                </label>
            </div>
            <br>
            <div class="form1">
                <label for="">- Tỉnh thành phố:
                    <br>
                    <i>(Province/City)</i>
                </label>
                <!-- <input type="text" class="form-control" formControlName="province"> -->
                <select class="form-control" (change)="ChangeProvinceList($event.target.value)"
                    formControlName="province">
                    <option *ngFor="let item of allProvinceList" [value]="item.code">{{item.name}}</option>
                </select>
            </div>
            <br>
            <div class="form1">
                <label for="">- Quận huyện:
                    <br>
                    <i>(District)</i>
                </label>
                <!-- <input type="text" class="form-control" formControlName="district"> -->
                <select class="form-control" (change)="ChangeDistrictList($event.target.value)"
                    formControlName="district">
                    <option *ngFor="let item of districtceList" [value]="item.code">{{item.name}}</option>
                </select>
            </div>
            <br>
            <div class="form1">
                <label for="">- Phường/Xã:
                    <br>
                    <i>(Ward/Commune)</i>
                </label>
                <!-- <input type="text" class="form-control" formControlName="commune"> -->
                <select class="form-control" formControlName="commune">
                    <option *ngFor="let item of wardList" [value]="item.code">{{item.name}}</option>
                </select>
            </div>
            <br>
            <div class="form1">
                <label for="">- Thôn/Bản:
                    <br>
                    <i>(Village)</i>
                </label>
                <input type="text" class="form-control" formControlName="village">
            </div>
            <br>
            <div class="form1">
                <label for="">- Số nhà/Tên đường:
                    <br>
                    <i>(House number/Street)</i>
                </label>
                <input type="text" class="form-control" formControlName="street">
            </div>
            <br>
            <div class="form1">
                <label for="">- Địa chỉ:
                    <br>
                    <i>(Address)</i>
                </label>
                <input type="text" class="form-control" value={{getAddress}}>
            </div>
        </div>
    </form>
</div>
<app-show-image *ngIf="isShowPreview" [imageId]='imageId' [id]='idImage' (closed)='closeImage()'></app-show-image>