.form{
    display: flex;
    justify-content: space-evenly;
    background: white;
    margin: 30px;
}
.form1{
    display: flex;
}

label{
    width: 319px;
    font-weight: 500;
}
.font-text{
    &-1{
        font-weight: 700;
        font-size: 24px;
        margin-left: 19px;
    }

    &-2{
        font-weight: 500;
        font-size: 18px;
        margin-left: 19px;
    }
}
