<div class="row px-0 py-2 mx-0">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12">
    <nz-tabset nzLinkRouter>
      <nz-tab>
        <a nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'one' }" queryParamsHandling="merge"
          class="title-tab">
          <div nz-title class="text-uppercase text-center">thông tin chung</div>
        </a>
        <ng-container *ngIf="periodForm" [formGroup]="periodForm">
          <div class="form-content-area">
            <div class="grid-3 mt-3">
              <div class="row position-relative">
                <div class="col-3 col-tablet">
                  <label class="label-form" for="code">Mã đợt nuôi</label>
                </div>
                <div class="col-9 col-tablet">
                  <input nz-input id="code" disabled formControlName="code" />
                </div>
              </div>
              <div></div>
              <div class="row">
                <div class="col-3 col-tablet">
                  <label class="label-form required" for="farmingLocation">
                    Vị trí nuôi trồng
                  </label>
                </div>
                <div class="col-9 col-tablet">
                  <nz-select nzShowSearch nzAllowClear formControlName="farmingLocation" id="farmingLocation"
                    nzPlaceHolder="- Chọn vị trí -" [class.is-invalid]="periodForm.get('farmingLocation')?.CustomErr"
                    [compareWith]="compareDataNZSelectData">
                    <nz-option *ngFor="let item of farmingLocationData" [nzLabel]="item.name" [nzValue]="item">
                    </nz-option>
                  </nz-select>
                  <div class="invalid-feedback" *ngIf="periodForm.get('farmingLocation')?.CustomErr">
                    {{ periodForm.get('farmingLocation')?.CustomErr }}
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-3 mt-3">
              <div class="row position-relative">
                <div class="col-3 col-tablet">
                  <label class="label-form required" for="name">
                    Tên đợt nuôi
                  </label>
                </div>
                <div class="col-9 col-tablet">
                  <input nz-input id="name" formControlName="name"
                    [class.is-invalid]="periodForm.get('name')?.CustomErr" />
                  <div class="invalid-feedback" *ngIf="periodForm.get('name')?.CustomErr">
                    {{ periodForm.get('name')?.CustomErr }}
                  </div>
                </div>
              </div>
              <div></div>
              <div class="row">
                <div class="col-3 col-tablet">
                  <label class="label-form required" for="shrimp">
                    Giống tôm
                  </label>
                </div>
                <div class="col-9 col-tablet">
                  <nz-select nzShowSearch nzAllowClear id="shrimp" formControlName="shrimp"
                    [class.is-invalid]="periodForm.get('shrimp')?.CustomErr" nzPlaceHolder="- Chọn giống tôm -"
                    [compareWith]="compareDataNZSelectData">
                    <nz-option *ngFor="let item of shrimpData" [nzLabel]="item.name" [nzValue]="item">
                    </nz-option>
                  </nz-select>
                  <div class="invalid-feedback" *ngIf="periodForm.get('shrimp')?.CustomErr">
                    {{ periodForm.get('shrimp')?.CustomErr }}
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-3 mt-3">
              <div class="row position-relative">
                <div class="col-3 col-tablet">
                  <label class="label-form required" for="formDate">
                    Thời gian từ ngày
                  </label>
                </div>
                <div class="col-9 col-tablet">
                  <nz-date-picker formControlName="fromDate" [class.is-invalid]="periodForm.get('fromDate')?.CustomErr"
                    [nzFormat]="dateFormat" nzPlaceHolder="- Chọn -" [nzDisabledDate]="disabledStartDate"
                    (ngModelChange)="fromDateChange(periodToDate)" #periodFromDate>
                  </nz-date-picker>
                  <div class="invalid-feedback" *ngIf="periodForm.get('fromDate')?.CustomErr">
                    {{ periodForm.get('fromDate')?.CustomErr }}
                  </div>
                </div>
              </div>
              <div></div>
              <div class="row">
                <div class="col-3 col-tablet">
                  <label class="label-form required" for="toDate">
                    Đến ngày
                  </label>
                </div>
                <div class="col-9 col-tablet">
                  <nz-date-picker formControlName="toDate" [class.is-invalid]="periodForm.get('toDate')?.CustomErr"
                    [nzFormat]="dateFormat" nzPlaceHolder="- Chọn -" [nzDisabledDate]="disabledEndDate"
                    (ngModelChange)="toDateChange(periodFromDate)" #periodToDate>
                  </nz-date-picker>
                  <div class="invalid-feedback" *ngIf="periodForm.get('toDate')?.CustomErr">
                    {{ periodForm.get('toDate')?.CustomErr }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 text-right pr-0 mt-3" *ngIf="!id">
            <button nz-button nzType="primary" class="mx-1 text-uppercase" (click)="submit()">
              Lưu
            </button>
            <button nz-button nzType="default" class="ml-1 text-uppercase"
              [routerLink]="['/dashboard/record-active/shrimp-period']">
              Hủy
            </button>
          </div>
        </ng-container>
      </nz-tab>
      <nz-tab *ngIf="id">
        <a nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'two' }" queryParamsHandling="merge"
          class="title-tab">
          <div nz-title class="text-uppercase text-center">thiết lập yếu tố quản lý</div>
        </a>
        <ng-container *ngIf="factorsForm" [formGroup]="factorsForm">
          <div class="form-content-area">
            <div class="title-tab-item font-weight-bold my-2">
              Các yếu tố cần ghi nhận
            </div>
            <div formArrayName="factors" class="form-content-area--right">
              <div *ngFor="
                  let factorGroup of factorsForm.get('factors').controls; let i = index;" [formGroupName]="i"
                class="mt-3">
                <!-- <div class="row">
                  <div class="col-2 d-flex factor-select">
                    <i class="fa fa-trash-o mt-2 pt-1 pr-2 delete pointer" *ngIf="!factorGroup.get('id').value"
                      (click)="deleteFactorGroup(i)"></i>
                    <span class="font-weight-bold mr-2 mt-2">{{i+1}}.</span>
                    <div class="w-100">
                      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="- Chọn yếu tố -"
                        formControlName="managementFactor"
                        [class.is-invalid]="factorGroup.get('managementFactor')?.CustomErr"
                        [compareWith]="compareDataNZSelectData">
                        <nz-option *ngFor="let item of factorData" [nzLabel]="item.name" [nzValue]="item">
                        </nz-option>
                      </nz-select>
                      <div class="invalid-feedback" *ngIf="factorGroup.get('managementFactor')?.CustomErr">
                        {{ factorGroup.get('managementFactor')?.CustomErr }}
                      </div>
                      <div *ngIf="factorGroup.get('id')?.value">
                        <span class="hasWork"
                          *ngIf="factorGroup.get('status')?.value && factorGroup.get('status')?.value.code === 'HasWork'">Đã
                          sinh kế hoạch chi tiết</span>
                        <span class="stopWork"
                          *ngIf="factorGroup.get('status')?.value && factorGroup.get('status')?.value.code === 'StopWork'">Đã
                          ngưng ghi nhận</span>
                        <span class="new"
                          *ngIf="factorGroup.get('status')?.value && factorGroup.get('status')?.value.code === 'New'">Chưa
                          sinh kế hoạch chi tiết</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-10 factor-time">
                    <div class="row">
                      <div class="d-flex flex-wrap mr-3 col-4 col-tablet row pr-0">
                        <div class="col-5 pr-0">
                          <label class="label-form required" for="curator">
                            Người phụ trách:
                          </label>
                        </div>
                        <div class="col-7">
                          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="- Chọn -"
                            [class.is-invalid]="factorGroup.get('curator')?.CustomErr" id="curator"
                            formControlName="curator" [compareWith]="compareDataNZSelectUser">
                            <nz-option *ngFor="let item of userData" [nzLabel]="item.fullName" [nzValue]="item">
                            </nz-option>
                          </nz-select>
                          <div class="invalid-feedback" *ngIf="factorGroup.get('curator')?.CustomErr">
                            {{ factorGroup.get('curator')?.CustomErr }}
                          </div>
                        </div>
                      </div>
                      <div class="d-flex flex-wrap col-4 col-tablet row pr-0">
                        <div class="col-5 pr-0">
                          <label class="label-form required" for="frequency" [class.is-invalid]="formErrors?.frequency">
                            Tần suất:
                          </label>
                        </div>
                        <div class="col-7">
                          <nz-select nzShowSearch nzPlaceHolder="- Chọn -"
                            [class.is-invalid]="factorGroup.get('frequency')?.CustomErr" id="frequency"
                            formControlName="frequency" (ngModelChange)="changeFrequency(factorGroup)"
                            [compareWith]="compareDataNZSelect">
                            <nz-option *ngFor="let item of frequencyData" [nzLabel]="item.value" [nzValue]="item">
                            </nz-option>
                          </nz-select>
                          <div class="invalid-feedback" *ngIf="factorGroup.get('frequency')?.CustomErr">
                            {{ factorGroup.get('frequency')?.CustomErr }}
                          </div>
                        </div>
                      </div>

                      <div class="col-4 text-right">
                        <ng-container *ngIf="!factorGroup.get('id').value">
                          <button nz-button nzType="primary" class="mx-1 text-uppercase"
                            (click)="saveManagementFactor(factorGroup, false)">
                            Lưu
                          </button>
                          <button nz-button nzType="primary" class="mx-1 text-uppercase"
                            (click)="saveManagementFactor(factorGroup, true)">
                            Lưu và sinh KHCT
                          </button>
                        </ng-container>
                        <ng-container *ngIf="factorGroup.get('id').value">
                          <ng-container
                            *ngIf="factorGroup.get('status').value && factorGroup.get('status').value.code === 'New'">
                            <button nz-button nzType="default" class="mx-1 text-uppercase"
                              (click)="stopManagementFactor(factorGroup)">
                              Hủy
                            </button>
                            <button nz-button nzType="primary" class="mx-1 text-uppercase"
                              (click)="saveManagementFactor(factorGroup, true)">
                              Sinh KHCT
                            </button>
                          </ng-container>
                          <button
                            *ngIf="factorGroup.get('status').value && factorGroup.get('status').value.code === 'HasWork'"
                            nz-button nzType="primary" class="mx-1 text-uppercase"
                            (click)="stopManagementFactor(factorGroup)">
                            Ngưng ghi nhận
                          </button>
                        </ng-container>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="d-flex flex-wrap mr-3 col-4 col-tablet row pr-0">
                        <div class="col-5 pr-0">
                          <label class="label-form required">
                            {{factorGroup.get('frequency').value && factorGroup.get('frequency').value.code === 'Daily' ? 'Từ ngày - Đến ngày' : 'Thời gian thực hiện'}}:
                          </label>
                        </div>
                        <div class="col-7 row pr-0">
                          <div class="col-6 pr-0"
                            [class.col-12]="!factorGroup.get('frequency').value || factorGroup.get('frequency').value.code !== 'Daily'">
                            <nz-date-picker formControlName="fromDate"
                              [nzDisabled]="!factorGroup.get('frequency').value"
                              [class.is-invalid]="factorGroup.get('fromDate')?.CustomErr" [nzFormat]="dateFormat"
                              nzPlaceHolder="- Chọn -" [nzDisabledDate]="disabledFromDate">
                            </nz-date-picker>
                            <div class="invalid-feedback" *ngIf="factorGroup.get('fromDate')?.CustomErr">
                              {{ factorGroup.get('fromDate')?.CustomErr }}
                            </div>
                          </div>
                          <div class="col-6 pr-0"
                            *ngIf="factorGroup.get('frequency').value && factorGroup.get('frequency').value.code === 'Daily'">
                            <nz-date-picker formControlName="toDate"
                              [class.is-invalid]="factorGroup.get('toDate')?.CustomErr" [nzFormat]="dateFormat"
                              nzPlaceHolder="- Chọn -" [nzDisabledDate]="disabledToDate">
                            </nz-date-picker>
                            <div class="invalid-feedback" *ngIf="factorGroup.get('toDate')?.CustomErr">
                              {{ factorGroup.get('toDate')?.CustomErr }}
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex flex-wrap mr-3 col-4 col-tablet row pr-0">
                        <div class="col-5 pr-0">
                          <label class="label-form required" for="frequency">
                            Vào lúc:
                          </label>
                        </div>
                        <div class="col-7">
                          <div class="time-disabled">
                            <div class="not-allowed position-absolute"></div>
                            <nz-time-picker formControlName="executionTime" [nzAllowEmpty]="false"
                              [class.is-invalid]="factorGroup.get('executionTime')?.CustomErr"
                              [nzDefaultOpenValue]="defaultOpenValue">
                            </nz-time-picker>
                          </div>
                          <div class="invalid-feedback" *ngIf="factorGroup.get('executionTime')?.CustomErr">
                            {{ factorGroup.get('executionTime')?.CustomErr }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->

                <app-factor-form-group [factorGroup]="factorGroup" [i]="i" [factorData]="factorData"
                  [userData]="userData" [frequencyData]="frequencyData" [fromDate]="periodForm.get('fromDate').value"
                  [toDate]="periodForm.get('toDate').value" (deleteFactorGroup)="deleteFactorGroup($event)" (stopManagementFactor)="stopManagementFactor($event)" (changeFrequency)="changeFrequency($event)" (saveManagementFactor)="saveManagementFactor($event)"></app-factor-form-group>

              </div>
            </div>
            <button nz-button nzType="primary" class="tab-btn mt-3" (click)="addFactorManagementGroup()">
              Thêm yếu tố ghi nhận
            </button>
          </div>
        </ng-container>
      </nz-tab>
      <nz-tab [nzDisabled]="true" *ngIf="!id">
        <span nz-tab-link class="text-uppercase text-center">thiết lập yếu tố quản lý</span>
      </nz-tab>
    </nz-tabset>
  </div>
</div>