.icon-add {
  width: 32px;
  height: 32px;
  background-color: #3597B6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.group-select {
  min-width: calc(100% - 40px) !important;
  margin-right: 8px;
}
:host ::ng-deep {
  .ant-collapse-content > .ant-collapse-content-box {
    padding: 20px 40px;
}
}