  /* Show green borders when valid */
input:valid {
  border-color: hsl(0, 0%, 81%);
}
  
.avatar {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.upload {
  display: none;
}

.icon-camera {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  /* right: -2px; */
  left: 140px;
  z-index: 999;
  top: 100px;
  background-color: #fff;
  cursor: pointer;
}

button{
    width: 70px;
    height: 40px;
    margin-right: 10px;
}

.conten-bg {
  background: #bfc7cc;
  border-radius: 10px;
}

.main-text {
  &:hover {
    text-decoration: underline;
  }
}