.popup-container {
  min-width: 18rem;
  .content {
    padding: 1rem 1.3rem;
   .password {
    padding: 0.5rem 1.7rem;
    background-color: #E7F3F3;
    font-size: 1rem;
    color: #3597B6;
    cursor: pointer;
   }
  }
}
