.auth-area {
  width: 100%;
  margin: 0 auto;
  .auth-container {
    .bg-auth {
      background-attachment: fixed;
      background-size: cover;
      height: 100vh;
      width: calc(100% - 520px);
      position: relative;
      z-index: 1;
    }
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-wrap: wrap;
    .auth-forgot-pass {
      width: 520px;
      min-height: 100vh;
      background: #fff;
      border-radius: 2px;
      position: relative;
      padding-top: 10rem;
      padding-bottom: 2rem;
      .auth-title {
        text-align: center;
        width: 100%;
        font-size: 2rem;
        font-weight: bold;
        text-transform: uppercase;
        color: #3597B6;
      }
      .form-title {
        background: #3597B6;
        color: #fff;
        margin-bottom: 10px;
        padding: 20px;
        margin: 0px 14%;
      }
      .form-content {
        padding: 0 5.5rem;
        width: 100%;

        .icon {
          color: #a9a9a9;
        }
        .icon-btn {
          font-size: 16px;
        }
      }
    }
  }
}
