<div class="auth-area">
  <div class="auth-container">
    <div class="bg-auth" style="background-image: url('assets/images/auth/auth-bg.png');"></div>
    <div class="auth-forgot-pass px -3">
      <p class="auth-title text-center">
        Bys Aquaculture
      </p>
      <ng-container>
        <div class="form-title">
          <div class="d-flex align-items-center mb-4">
            <img src="assets/images/auth/lock.png" alt="" width="25px">
            <h2 nz-title class="text-uppercase color-white ml-2 mb-0">
               QUÊN MẬT KHẨU
            </h2>
          </div>
          Vui lòng nhập địa chỉ email liên kết với tài khoản của bạn để nhận đường dẫn thiết lập lại mật khẩu.
        </div>
        <form [formGroup]="formForgotPass" (ngSubmit)="onSubmit()" class="form-content mt-2">
          <div class="row justify-content-center">
            <nz-input-group class="my-2" nzPrefixIcon="mail" [class.is-invalid]="formErrors?.email">
              <input type="text" nz-input formControlName="email" placeholder="Email" />
            </nz-input-group>
            <div class="invalid-feedback">
              {{ formErrors?.email }}
            </div>
            <div class="invalid-feedback">
              {{ errorMessage }}
            </div>
          </div>
  
          <div class="row mt-2">
            <div class="w-100">
              <button nz-button nzType="primary" type="submit" class="text-uppercase font-weight-bold w-100 d-flex align-items-center justify-content-center">
                <i class="fa fa-sign-in icon-btn"></i> gửi email
              </button>
            </div>
          </div>
        </form>
      </ng-container>
      <!-- <ng-container *ngIf="isSubmitSuccess">
        <div class="form-title">
          <div class="d-flex align-items-center mb-4">
            <img src="assets/images/auth/lock.png" alt="" width="25px">
            <h2 nz-title class="text-uppercase color-white ml-2 mb-0">
               QUÊN MẬT KHẨU
            </h2>
          </div>
          Chúng tôi đã gửi yêu cầu đặt lại mật khẩu đến địa chỉ email liên kết với tài khoản của bạn.
          <div>
            Vui lòng kiểm tra email để thiết lập mật khẩu mới.
          </div>
        </div>
        <div class="form-content mt-2">
          <div class="row mt-2">
            <div class="w-100">
              <button nz-button nzType="primary" type="submit" class="text-uppercase font-weight-bold w-100 d-flex align-items-center justify-content-center">
                <i class="fa fa-sign-in icon-btn"></i> đăng nhập
              </button>
            </div>
          </div>
        </div>
      </ng-container> -->
    </div>
  </div>
</div>

